<%- include ('../partials/header') %>
<style>
    .imagewala{
        width: 100vw !important;
    padding: auto;
    margin: auto;
        height: 700px !important; padding: 120px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .content{
        margin-top: 100px;
        margin-left: 30%;
        color: blue;
        width: 600px;
        font-size: 20px;
        padding: 100px;
    }
    
</style>
<%- include ('../partials/navbar')%>
<div class="home-wrapper position-relative">

    <div class="row"> 
        <div class="  col-6 w-50 h-50 "> 
            <img src="https://media.istockphoto.com/id/1184416532/photo/half-face-portrait-of-confident-handsome-black-guy.jpg?s=612x612&w=0&k=20&c=lmb6hWeoE6zGzG5fe6gRyT95_EFxiRYj6S_c8vjaDpo=" alt="#" class="imagewala">
        </div>
        <div class="  px-5  position-absolute px-10 content">
            <h2 class="text-dark"> Hello my name is roshan karki.</h2>
            <p te>

                I have just made this page just to revise back  the concepts of the routes ejs  and iam learning the express and falling in love with it th </h2>
            </p>
            </div>
    </div>
</div>

<%- include ('../partials/bottom') %>
<%- include ('../partials/footer') %>

  