<%- include ('../partials/header') %>
<%- include ('../partials/navbar')%>

<div class="services">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/BusinessServices3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-primary"> Art of Business </h5>
                    <p  class="text-secondary" > Business is the art and you need to have the good tought to enlarge it. be careful while investicating in business thanks </p>
                </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.corporatefinanceinstitute.com/assets/products-and-services.jpeg" alt="...">
                <div class="card-body">
                    <h5 class="text-primary"> Products and Services </h5>
                    <p  class="text-secondary" >
                        Managing th products and the gods and provudung it to the customer without any effect and damage is our main goal
                    </p>
                </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://a-us.storyblok.com/f/1002845/745x588/044e15bf74/services.png" alt="..." >
                <div class="card-body">
                    <p class="card-text"> 
                        <h5 class="text-primary"> Technology and science </h5>
                        <p  class="text-secondary" >  In todays world to be familier with the technology is the most important aspect of the people and we need to grow up with the technology</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('../partials/bottom') %>
<%- include ('../partials/footer') %>


