<%- include ('../partials/header') %>
<%- include ('../partials/navbar')%>

<h1 class="py-3 text-danger"> danger   </h1>
<h1 class="py-3">  undercontruction  </h1>
<!-- <%- include ('../partials/bottom') %> -->
<%- include ('../partials/footer') %>
